@charset "utf-8";
@import url(font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #222;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Anek Malayalam", "Apple SD Gothic Neo", "맑은 고딕", "malgun gothic", 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.2em;
  font-weight: 400;
  
}

/* 공통클래스 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  max-width: 1657px;
  margin: 0 auto;
  padding: 0 40px;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  padding-left: 275px;

}

 /* 전체 레이아웃 */

 /* 상단 */
.header {
  position: relative;
  display: block;
  padding-left: 275px;
}

.header .inner {
position: relative;
display: block;
padding: 60px 0 50px;
}
.header-logo {
position: relative;
display: block;
float: left;
}
.header-icon {
position: relative;
display: block;
float: right;
}
.header-icon a {
  margin-left: 23px;
}


/* 검색창 */
.search-box {
  position: fixed;
  display: block;
}

 /* 사이드 메뉴 */
.side-menu {
  position: fixed;
  top: 60px;
  width: 275px;
  padding-right: 20px;
  z-index: 9;
  background: #fff;

}

 /* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 630px;
  background: url('../images/visual.jpeg.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 30px;

}

 /* 아티스트 */
.artist {
  position: relative;
  display: block;
}

.artist h2 {
  font-size: 22px;
  padding: 90px 0 20px;
}

.artist-list {
  position: relative;
  display: block;
}

.artist-list li {
  float: left;
  position: relative;
  display: block;
  margin-right: 20px;
}

.artist-list li a {
  text-align: center;
}

.artist-list li:nth-child(3) {
  margin-right: none;
}
.artist-list li:nth-child(6) {
  margin-right: none;
}
.artist-list li:nth-child(9) {
  margin-right: none;
}
.artist-list li:nth-child(12) {
  margin-right: none;
}

.artist-list li a img {
  position: relative;
  width: 418px;
  height: 498px;
}

.artist-list li a span {
  position: relative;
  display: block;
}

 /* 세라믹 */
.ceramic {

}

 /* 글라스 */
.glass {

}

 /* 메탈 */
.metal {

}

/* 페이퍼 */
.paper {

}

/* 페브릭 */
.fabric {

}

/* 하단 */
.footer {

}


