@charset "utf-8";
@import url(font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #222;
  text-decoration: none;
}

h2 {
  font-size: 22px;
}

html {
  font-size: 10px;
}

body {
  font-family: "Anek Malayalam", "Apple SD Gothic Neo", "맑은 고딕", "malgun gothic", 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.2em;
  font-weight: 400;

}

/* 공통클래스 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  max-width: 1657px;
  margin: 0 auto;
  padding: 0 40px;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  padding-left: 275px;

}

/* 전체 레이아웃 */

/* 상단 */
.header {
  position: relative;
  display: block;
  padding-left: 275px;
}

.header .inner {
  position: relative;
  display: block;
  padding: 60px 0 50px;
}

.header-logo {
  position: relative;
  display: block;
  float: left;
}

.header-icon {
  position: relative;
  display: block;
  float: right;
}

.header-icon a {
  margin-left: 23px;
}


/* 검색창 */
.search-box {
  position: fixed;
  display: block;
}

/* 사이드 메뉴 */
.side-menu {
  position: fixed;
  top: 60px;
  width: 275px;
  padding-right: 20px;
  z-index: 9;
  background: #fff;

}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 630px;
  background: url('../images/visual.jpeg.jpg') no-repeat center;
  background-size: cover;
  padding-bottom: 30px;

}

/* 아티스트 */
.artist {
  position: relative;
  display: block;
}
.artist .inner {}

.artist h2 {
  padding: 90px 0 20px;
}

.artist-list {
  position: relative;
  display: block;
  width: 100%;
}
.artist-list > li {
  position: relative;
  display: block;
  float: left;
  width: 32.2%;
  margin-right: 1.7%;
  margin-top: 90px;
}

.artist-list > li:nth-child(3n) {
  margin-right: 0;
}
.artist-list > li:nth-child(1) {
  margin-top: 0;
}
.artist-list > li:nth-child(2) {
  margin-top: 0;
}
.artist-list > li:nth-child(3) {
  margin-top: 0;
}

.artist-list > li a {
  position: relative;
  display: block;
  text-align: center;
}

.artist-list > li a div {
  position: relative;
  display: block;
  margin-bottom: 15px;

}

.artist-list > li a div img {
width: 419px;
height: 498px;

}
.artist-list > li a span {
  position: relative;
  display: block;
  font-size: 12px;
  color: #555555;
}

/* 더보기 버튼 */
.more {
  position: relative;
  display: block;
}

.more .inner {
  padding-top: 165px;
}

.more-bt {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  line-height: 46px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0 45px;
  transition: all 0.3s;
  cursor: pointer;
}

.more-bt:hover {
  background-color: #000;
  color: #fff;
}


/* 세라믹 */
.ceramic {}

.ceramic h2 {
  padding-bottom: 20px;
}

.sw-ceramic {

}
.sw-ceramic-list {}

.sw-ceramic-list li img {
  width: 33.3%;
}



/* 글라스 */
.glass {}

/* 메탈 */
.metal {}

/* 페이퍼 */
.paper {}

/* 페브릭 */
.fabric {}

/* 하단 */
.footer {}