@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  font-size: 16px;
}

body {}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}

.gnb {
  position: relative;
  display: block;
}

.gnb > li {
  position: relative;
  display: block;
}

.gnb > li > a {
  color: red;
}

.sub_menu {
  
}

.sub_menu > li {
  padding-left: 15px;
}

.sub_menu > li > a {
  color: blue;
}


.sub_menu_2 {
  
}

.sub_menu_2 li {
  padding-left: 15px;
}